.container-fluid{
    background-color: white;
    margin: 10px auto;
    padding: 10px;
    width: 75%;
}
.col-sm{
    border: 1px solid grey;
    margin: 10px;
    width: 600px;
    height: 360px;
}
button a{
    color: white;
    text-decoration: none;
}
button a:hover{
    color: white;
    text-decoration: none;
}